<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nail IT後台管理</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    


    <link rel="stylesheet" href="../css/backstage.css">
    <style>
        .btn {
            background-color: white;
            color: black;
            font-weight: bold;
            border: 2px solid black;
            height: 60px;
            margin: 1% 0%;
            border-radius: 0px;
        }
    </style>

</head>

<body>
    <div id="mydata">
        <div class="container-fluid">
            <!-- 功能列------------------------------------------------------------------------------------------- -->
            <nav class="container-fluid" >
                <div class="row opacity-25" id="navall">
                    <div class="col-1"></div>
                    <div class="col-7 p-0 d-flex align-items-center justify-content-start" id="brand">
                        Nail IT 後臺管理
                    </div>

                    <div class="col-3  pt-3 justify-content-end" id="navend">
                         Hi {{myname}}/ <b style="font-size:14px;" onclick="plzlogout()">登出</b>
                    </div>
                    <div class="col-1"></div>
                </div>
            </nav>
            <!-- 內文------------------------------------------------------------------------------------------- -->
            <div>
                <div class="row">
                    <!-- 左側------------------------------------------------------------------------------------------- -->
                    <div class="col-1"></div>
                    <div class="col-2 mylist">
                        <div id="mylist1">
                            <b>後臺管理</b>
                            <a class="tablinks" onclick="bsmlist(event, 'report')">審核檢舉</a>
                            <a class="tablinks" onclick="bsmlist(event, 'sysmes')">系統通知</a>
                            <a class="tablinks" onclick="bsmlist(event, 'order')">訂單管理</a>
                            <a>人員管理</a>
                        </div>
                        <div id="mylist2">
                            <a class="tablinks" onclick="bsmlist(event, 'member')">會員管理</a>
                            <a class="tablinks" onclick="bsmlist(event, 'sysmem')">系統人員管理</a>
                        </div>
                    </div>

                    <!-- 右側------------------------------------------------------------------------------------------- -->
                    <div class="col-1"></div>
                    <div class="px-0 col-7 mycon">
                        <!-- 1審核------------------------------------------------------------------------------ -->
                        <div id="report" class="tabcontent" >
                            <b id="rigtil">後臺管理 ＞ <u>審核檢舉</u></b>
                            <!-- 檢舉條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <p class="my-0">檢舉時間：</p>
                                            <input id="datestart" type="date" value="">

                                            <b class="mx-4">-</b>
                                            <input id="dateend" type="date" value="">
                                        </div>
                                        <div class="my-4 d-flex align-items-center  justify-content-start">
                                            <div class="d-flex align-items-center  justify-content-start">
                                                <div>
                                                    <p class="my-0">檢舉類型：</p>
                                                </div>

                                                <div>
                                                    <select id="reptype" name="reptype" style="width: 130px;height:30px;">
                                                        <!--v-model="selreptype"-->
                                                        <option value="" selected>請選擇類型</option>
                                                        <option v-for="item in syscode" v-bind:value="item.codeId">
                                                            {{item.codeRepresent}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <div>
                                                    <p class="my-0">審核狀態：</p>
                                                </div>
                                                <div>
                                                    <select id="repres" name="repres" style="width: 130px;height:30px;">
                                                        <option value="" selected>請選擇狀態</option>
                                                        <option value="NULL">待審核</option>
                                                        <option value="1">審核通過</option>
                                                        <option value="0">審核不通過</option>
                                                    </select>
                                                </div>
                                                <!-- 審核狀態NULL=待審核,TRUE=審核通過,FLASE=審核不通 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button class="serbut" onclick="seaselrep()">查詢</button>

                                </div>
                            </div>

                            <!-- 檢舉項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <b class="my-0 ml-2">審核檢舉項目</b>
                                </div>
                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{reportnum}}項</p>
                                    <p class="my-0 mr-1">頁數</p>

                                    <input class=" my-1 mr-1" id="" style="width:10%;height:100%;">
                                    <p class="my-0 mr-2">/ {{reportpage}} </p>
                                    <a class="mr-2" href="">上一頁</a>
                                    <a class="mr-1" href="">下一頁</a>

                                </div>
                            </div>

                            <!-- 檢舉項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover  table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">檢舉類型</th>
                                            <th scope="col">審核狀態</th>
                                            <th scope="col">檢舉時間</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in report">
                                        <tr>
                                            <th scope="row">{{report[key].reportId}}</th>
                                            <td>{{report[key].codeRepresent}}</td>
                                            <td>{{report[key].reportResult}}</td>
                                            <td>{{report[key].reportBuildTime}}</td>
                                            <td style="width: 25%">
                                                <button style="background-color: #FF6733" v-if="AAA[key]" onclick="reviewreport(this)" v-bind:value="report[key].reportId" class="mr-3" data-toggle="modal" data-target="#reviewModal">審 核</button> <button v-else="AAA[key]" id="vierep" onclick="reviewreport1(this)" v-bind:value="report[key].reportId" data-toggle="modal" data-target="#examineModal">查 看</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 2通知------------------------------------------------------------------------------- -->
                        <div id="sysmes" class="tabcontent" style="display:none">
                            <b id="rigtil">後臺管理 ＞ <u>系統通知</u></b>
                            <!-- 通知條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <p class="my-0">通知時間：</p>
                                            <input id="noticedatestart" type="date">
                                            <b class="mx-4">-</b>
                                            <input id="noticedateend" type="date">
                                        </div>
                                        <div class="my-4 d-flex align-items-center  justify-content-start">
                                            <div class="d-flex align-items-center  justify-content-start">
                                                <div>
                                                    <p class="my-0">通知對象：</p>
                                                </div>
                                                <!--0只對會員，1只對美甲師，2對所有用戶。-->
                                                <div>
                                                    <select id="noticemem" name="type" style="width: 130px;height:30px;">
                                                        <option value="3" selected>請選擇對象</option>
                                                        <option value="0">一般會員</option>
                                                        <option value="1">店家／設計師</option>
                                                        <option value="2">全體</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <div>
                                                    <p class="my-0">通知狀態：</p>
                                                </div>
                                                <div>
                                                    <select id="noticestatus" name="type" style="width: 130px;height:30px;">
                                                        <option value="NOPE" selected>請選擇狀態</option>
                                                        <option value="0">未通知</option>
                                                        <option value="1">已通知</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button class="serbut" onclick="selnotice()">查詢</button>
                                </div>
                            </div>

                            <!-- 通知項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center  justify-content-start ">
                                    <b class="my-0 ml-2 mr-3">通知項目</b>
                                    <button data-toggle="modal" data-target="#addmesModal" class="myadd" onclick="addnoticedate()">新 增 通 知</button>
                                </div>



                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{noticenum}}個項</p>
                                    <p class="my-0 mr-1">頁數</p>

                                    <input class=" my-1 mr-1" style="width: 10%; height: 100%;">
                                    <p class="my-0 mr-2">/ {{noticepage}} </p>
                                    <a class="mr-2" href="">上一頁</a>
                                    <a class="mr-1" href="">下一頁</a>

                                </div>
                            </div>
                            <!-- 通知項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">通知對象</th>
                                            <th scope="col">通知標題</th>
                                            <th scope="col">通知日期</th>
                                            <th scope="col">通知狀態</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in notice">
                                        <tr>
                                            <th scope="row"> {{notice[key].noticeId}}</th>
                                            <td>{{notice[key].noticeScope}}</td>
                                            <td style="max-width:200px;" class="text-truncate">{{notice[key].noticeTitle}}</td>
                                            <td>{{notice[key].noticePushTime}}</td>
                                            <td>{{notice[key].noticeState}}</td>
                                            <td><button onclick="reviewnotice(this)" data-toggle="modal" data-target="#revmesModal" v-bind:value="notice[key].noticeId">查 看</button><button onclick="delnotice(this)" v-bind:value="notice[key].noticeId" style="background-color: #7F7F7F" class="ml-2" data-toggle="modal">刪除</button></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 3訂單------------------------------------------------------------------------------- -->
                        <div id="order" class="tabcontent" style="display:none">
                            <b id="rigtil">後臺管理 ＞<u>訂單管理</u></b>
                            <!-- 訂單條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="d-flex align-items-center  justify-content-start">
                                            <div class="d-flex align-items-center  justify-content-start">
                                                <div>
                                                    <p class="my-0">訂單編號：</p>
                                                </div>
                                                <div>
                                                    <input id="orderId" type="text" class="searchTerm" style="width:100%;"
                                                           placeholder="請輸入訂單編號">
                                                </div>
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <div>
                                                    <p class="my-0">訂單狀態：</p>
                                                </div>
                                                <div>
                                                    <select id="orderstate" name="type" style="width:130px;height:30px;">
                                                        <option value="AA" selected>請選擇狀態</option>
                                                        <option value="A0">預約中</option>
                                                        <option value="A1">已確認</option>
                                                        <option value="A2">設計師完成</option>
                                                        <option value="A3">客戶完成</option>
                                                        <option value="A4">待評價</option>
                                                        <option value="A5">完成評價</option>
                                                        <option value="A6">取消</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="my-4 d-flex align-items-center justify-content-start">
                                                <p class="my-0">訂單時間：</p>
                                                <input id="orderdatestart" type="date" value="">
                                                <b class="mx-4">-</b>
                                                <input id="orderdateend" type="date" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button class="serbut" onclick="selorder()">查詢</button>
                                </div>
                            </div>
                            <!-- 訂單項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <b class="my-0 ml-2">訂單項目</b>
                                </div>
                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{ordernum}}個項</p>
                                    <p class="my-0 mr-1">頁數</p>
                                    <input class="my-1 mr-1"   style="width:10%;height:100%;text-align: right;" v-model="pageNum">
                                    <p class="my-0 mr-2">/ {{orderpage}} </p>
                                    <a class="mr-2" onclick="uporder()">上一頁</a>
                                    <a class="mr-1" onclick="nextorder()">下一頁</a>
                                </div>
                            </div>
                            <!-- 訂單項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>

                                            <th scope="col">訂單編號</th>
                                            <th scope="col">訂單建立日期</th>
                                            <th scope="col">通知狀態</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in order2">
                                        <tr>
                                            <th scope="row">{{order2[key].orderId}}</th>

                                            <td>{{order2[key].orderOrderTime}}</td>
                                            <td>{{order2[key].orderStateName}}</td>
                                            <td><button onclick="revieworder(this)" dsta-toggle="modal" data-target="#orderModal" v-bind:value="order2[key].orderId">查 閱</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 4會員管理------------------------------------------------------------------------------- -->
                        <div id="member" class="tabcontent" style="display:none">
                            <b id="rigtil">後臺管理 ＞ <u>會員管理</u></b>
                            <!-- 會員條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div>
                                            <div class="d-flex align-items-center  justify-content-start">
                                                <div>
                                                    <p class="my-0">會員編號：</p>
                                                </div>
                                                <div>
                                                    <input id="memid" type="text" class="searchTerm" style="width:100%;"
                                                           placeholder="請輸入會員編號">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center  justify-content-start">
                                            <div class="my-4 d-flex align-items-center justify-content-start">
                                                <p class="my-0">會員類型：</p>
                                                <div>
                                                    <select id="memtype" name="type" style="width: 130px;height:30px;">
                                                        <option value="nope" selected>請選擇類型</option>
                                                        <option value="0">一般會員</option>
                                                        <option value="1">店家／美甲師</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <p class="my-0">會員狀態：</p>
                                                <div>
                                                    <select id="memstate" name="type" style="width:130px;height:30px;">
                                                        <option value=2 selected>請選擇狀態</option>
                                                        <option value=0>使用中</option>
                                                        <option value=1>已停權</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button class="serbut" onclick="selmem()">查詢</button>
                                </div>
                            </div>
                            <!-- 會員項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <b class="my-0 ml-2">會員</b>
                                </div>
                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{membernum}}個項</p>
                                    <p class="my-0 mr-1">頁數</p>
                                    <input class=" my-1 mr-1" style="width:10%;height:100%;">
                                    <p class="my-0 mr-2">/ {{memberpage}} </p>
                                    <a class="mr-2" href="">上一頁</a>
                                    <a class="mr-1" href="">下一頁</a>
                                </div>
                            </div>
                            <!-- 會員項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">會員編號</th>
                                            <th scope="col">會員帳號</th>
                                            <th scope="col">會員名稱</th>
                                            <th scope="col">會員類型</th>
                                            <th scope="col">會員狀態</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in member">
                                        <tr>
                                            <th scope="row">{{member[key].memberId}}</th>
                                            <th scope="col">{{member[key].memberAccount}}</th>
                                            <th scope="col">{{member[key].memberName}}</th>
                                            <th scope="col">{{member[key].memberManicurist}}</th>
                                            <th scope="col">{{member[key].memberReportpoint}}</th>
                                            <td><button onclick="reviewmem(this)" data-toggle="modal" data-target="#memberModal" v-bind:value="member[key].memberId">查 閱</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 5系統管理人員------------------------------------------------------------------------------- -->
                        <div id="sysmem" class="tabcontent" style="display:none">
                            <b id="rigtil">後臺管理 ＞<u>系統人員管理</u></b>
                            <!-- 員工條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div>
                                                <p class="my-0">員工代號：</p>
                                            </div>
                                            <div>
                                                <input id="managerid" type="text" class="searchTerm" style="width: 100%; height: 30px;"
                                                       placeholder="請輸入員工代號">
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <div>
                                                    <p class="my-0 ">員工名稱：</p>
                                                </div>
                                                <div>
                                                    <input id="managername" type="text" class="searchTerm" style="width: 100%; height: 30px;"
                                                           placeholder="請輸入員工名稱">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 權限0就只能查詢 權限1就可以審核查詢修改 權限3可以管理人員 -->
                                        <div>
                                            <div class="my-4 d-flex align-items-center  justify-content-start">
                                                <p class="my-0">員工權限：</p>
                                                <select name="type" style="width:200px;height:30px;" id="managerlimit">
                                                    <option value=3 selected>請選擇權限類別</option>
                                                    <option value=0>最高管理員</option>
                                                    <option value=1>審核／修改／查詢</option>
                                                    <option value=2>查詢</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button onclick="selman()" class="serbut">查詢</button>
                                </div>
                            </div>
                            <!-- 員工項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex align-items-center justify-content-between ">
                                <div class="d-flex align-items-center">
                                    <b class="my-0 ml-2  mr-3">員工</b>
                                    <button data-toggle="modal" data-target="#addmemModal" class="myadd" onclick="addmanmem()">新 增 員 工</button>
                                </div>
                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{managernum}}個員工</p>
                                    <p class="my-0 mr-1">頁數</p>
                                    <input class=" my-1 mr-1" style="width:10%;height:100%;">
                                    <p class="my-0 mr-2">/ {{managerpage}} </p>
                                    <a class="mr-2" href="">上一頁</a>
                                    <a class="mr-1" href="">下一頁</a>
                                </div>
                            </div>
                            <!-- 員工項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">員工代號</th>
                                            <th scope="col">員工帳號</th>
                                            <th scope="col">員工名稱</th>
                                            <th scope="col">員工權限</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in manager">
                                        <tr>
                                            <th scope="row">{{manager[key].managerId}}</th>
                                            <td>{{manager[key].managerAccount}}</td>
                                            <td>{{manager[key].managerName}}</td>
                                            <td>{{manager[key].managerPurview}}</td>
                                            <!--v-bind:value="notice[key].noticeId-->
                                            <td class="d-flex justify-content-center"><button onclick="reviewman(this)" v-bind:value="manager[key].managerId" data-toggle="modal" data-target="#editmemModal">編 輯</button><button onclick="delmanmem(this)" v-bind:value="manager[key].managerId" style="background-color: #7F7F7F" class="ml-2" data-toggle="modal">刪除</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal --------------------------------------------------------------------------------------------------------------------------------------->
        <!-- 審核Modal ------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>檢舉編號：{{onereport[0].reportId}}</b>
                        <hr>
                        <p>被檢舉：{{onereport[0].reportBuilder}}  {{onereport[0].memberName}}</p>
                        <p>檢舉人：{{onereport[0].reportTarget}}  {{onereport[0].memberName}}</p>
                        <p>檢舉類別：{{onereport[0].reportPlaceC}} {{onereport[0].codeRepresent}}</p>
                        <p>檢舉原因：{{onereport[0].reportReasonC}} {{onereport[0].codeRepresent}}</p>
                        <p>檢舉編號：{{onereport[0].reportItem}}</p>
                        <p>事由說明：{{onereport[0].reportContent}}</p>
                        <p>檢舉時間：{{onereport[0].reportBuildTime}}</p>
                        <p class="mb-1">狀態：</p>
                        <input type="radio" id="OK" name="status" onclick="BackVal(this)" value="true">
                        <label for="OK">審核通過</label><br>
                        <input type="radio" id="NO" name="status" onclick="BackVal(this)" value="false">
                        <label for="NO">審核不通過</label><br>
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel mr-3" data-dismiss="modal">取消</button><button onclick="changereviewreport(this)" type="button" class="mysend" data-dismiss="modal">提交</button>
                    </div>
                    <!--v-on:click="reprevok"-->
                </div>
            </div>
        </div>
        <!-- 審核查閱Modal------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="examineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-2">
                        <b>檢舉編號：{{onereport[0].reportId}}</b>
                        <hr>
                        <p>被檢舉：{{onereport[0].reportBuilder}}  {{onereport[0].builderMemberName}}</p>
                        <p>檢舉人：{{onereport[0].reportTarget}}  {{onereport[0].targetMemberName}}</p>
                        <p>檢舉類別：{{onereport[0].reportPlaceC}} {{onereport[0].codeRepresent}}</p>
                        <p>檢舉原因：{{onereport[0].reportReasonC}} {{onereport[0].codeRepresent}}</p>
                        <p>檢舉編號：{{onereport[0].reportItem}}</p>
                        <p>事由說明：{{onereport[0].reportContent}}</p>
                        <p>檢舉時間：{{onereport[0].reportBuildTime}}</p>
                        <p>狀態：{{onereport[0].reportResult}}</p>
                        <p>審核人員：{{onereport[0].managerId}}  {{onereport[0].managerName}}</p>
                        <p class="mb-0" id="reptime">審核時間：{{onereport[0].reportCheckTime}}</p>
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel" data-dismiss="modal">關閉</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- 通知新增Modal ------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="addmesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>通知編號：{{nownotice}}</b>
                        <hr>
                        <p class="mb-1">通知標題：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-model="noticetitle" placeholder="請輸入通知標題">
                        <small class="text-muted">
                            限50字
                        </small>
                        <p class="mb-1">通知內容（限100字）：</p>
                        <textarea class="form-inline searchTerm mb-2" style="width:100%;height:70px;" v-model="noticetext" placeholder="請輸入通知內容"></textarea>
                        <p class="mb-1">通知對象：</p>
                        <select class="mb-2" name="type" style="width: 130px;height:30px;" v-model="noticescope">
                            <option selected>請選擇對象</option>
                            <option value="0">一般會員</option>
                            <option value="1">店家／設計師</option>
                            <option value="2">全體用戶</option>

                        </select>
                        <p class="mb-1">通知時間：</p>
                        <input id="datestart" class="mb-2" type="datetime-local" v-model="noticetime">
                        <p class="mb-1">通知管理人員：</p>
                        <input class="mb-2" type="text" value="1 ADMIN" disabled="disabled">
                        <p class="mb-1">通知建日日期：</p>
                        <input id="adddate" class="mb-2" type="datetime" disabled="disabled">

                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel mr-3" data-dismiss="modal">取消</button>
                        <button type="button" class="mysend" onclick="savenotice()">確認</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 通知查閱Modal------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="revmesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- [{"noticeId":5,"noticeScope":2,"noticeTitle":"聖誕節快樂！","noticeContent":"祝全體會員聖誕節快樂！",
                        "noticeBuildTime":"2023-01-25 17:40","noticePushTime":"2023-01-25T17:40:21.687","noticeState":true,
                        "noticeManagerId":1,"noticeManagerName":"ADMIN"}] -->
                    <div class="modal-body py-2">
                        <b>通知編號：{{onenotice[0].noticeId}}</b>
                        <hr>
                        <p>通知標題：{{onenotice[0].noticeTitle}}</p>
                        <p>通知內容：{{onenotice[0].noticeContent}}</p>
                        <p>通知對象：{{onenotice[0].noticeScope}}</p>
                        <p>通知日期：{{onenotice[0].noticeBuildTime}}</p>
                        <p>通知管理人員：{{onenotice[0].noticeManagerId}} {{onenotice[0].noticeManagerName}}</p>
                        <p class="mb-0">通知建日日期：{{onenotice[0].noticePushTime}}</p>
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel" data-dismiss="modal">關閉</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- 訂單查閱Modal------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-2">
                        <b>訂單編號：{{oneorder[0].orderId}}</b>
                        <hr>
                        <p>訂單日期：{{oneorder[0].orderOrderTime}}</p>
                        <p>客戶名稱：{{oneorder[0].memberId}} {{oneorder[0].memberName}}</p>
                        <p>店家/設計師：{{oneorder[0].manicuristId}} {{oneorder[0].manicuristName}}</p>
                        <p>行程編號：{{oneorder[0].planId}} {{oneorder[0].planTime}}</p>
                        <p>預估價格：{{oneorder[0].orderPrice}}</p>
                        <p>預付訂金：{{oneorder[0].orderDeposit}}</p>
                        <p>預約部位：{{oneorder[0].orderPartC}} {{oneorder[0].partCodeName}}</p>
                        <p>卸甲：{{oneorder[0].orderRemovalC}} {{oneorder[0].removalRemovalC}}</p>
                        <p>項目：{{oneorder[0].orderItem}} {{oneorder[0].orderItemName}}</p>
                        <p>訂單預約日期：{{oneorder[0].orderOrderTime}}</p>
                        <p>訂單取消日期：{{oneorder[0].orderCancelTime}}</p>
                        <p>訂單確認日期：{{oneorder[0].orderDoneTime}}</p>
                        <p>訂單完成日期：{{oneorder[0].orderCompleteTime}}</p>
                        <p>狀態：{{oneorder[0].orderStateC}} {{oneorder[0].orderStateName}}</p>
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel" data-dismiss="modal">關閉</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- 會員查閱Modal------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-2">
                        <b>會員編號：{{onemember[0].memberId}}</b>
                        <hr>
                        <p>會員帳號：{{onemember[0].memberAccount}}</p>
                        <p>會員姓名：{{onemember[0].memberName}}</p>
                        <p>會員暱稱：{{onemember[0].memberNickname}}</p>
                        <p>性別：{{onemember[0].memberGender}}</p>
                        <p>生日：{{onemember[0].memberBirth}}</p>
                        <p>電話：0{{onemember[0].memberPhone}}</p>
                        <p>Email：{{onemember[0].memberEmail}}</p>
                        <p>會員類型：{{onemember[0].memberManicurist}}</p>
                        <p>檢舉狀態：{{onemember[0].memberStatus}}</p>
                        <p>檢舉點數：{{onemember[0].memberReportpoint}}</p>
                        <p>檢舉編號：{{onemember[0].memberReportId}}</p>
                        <!--<p class="mb-0"></p>-->
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 系統人員新增Modal ------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="addmemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>員工代號：{{nowmanagerId}}</b>
                        <hr>
                        <p class="mb-1">員工帳號：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-model:value="managerpost[0].managerAccount">
                        <p class="mb-1">員工名稱：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-model:value="managerpost[0].managerName">
                        <p class="mb-1">修改密碼：</p>
                        <input type="password" class="searchTerm mb-2" style="width:100%;" v-model:value="managerpost[0].managerPassword">
                        <p class="mb-1">確認密碼：</p>
                        <input type="password" class="searchTerm mb-2" style="width:100%;">
                        <p class="mb-1">權限：</p>
                        <select class="mb-2" name="type" style="width:150px;height:30px;" v-model:value="managerpost[0].managerPurview">
                            <option value=3>請選擇權限類別</option>
                            <option value=0>最高管理員</option>
                            <option value=1>審核／修改／查詢</option>
                            <option value=2>查詢</option>
                        </select>
                        <p class="mb-1">建日日期：</p>
                        <input id="addmandate" class="mb-2" type="datetime" disabled="disabled">

                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel mr-3" data-dismiss="modal">取 消</button>
                        <button type="button" class="mysend" onclick="savemanager()" data-dismiss="modal">確 認</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 系統人員編輯Modal ------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="editmemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>員工代號：{{onemanager[0].managerId}}</b>
                        <hr>
                        <p class="mb-1">員工帳號：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-bind:value="onemanager[0].managerAccount" disabled="disabled">
                        <p class="mb-1">員工名稱：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-model:value="onemanager[0].managerName">
                        <p class="mb-1">員工密碼：</p>
                        <input type="password" class="searchTerm mb-2" style="width:100%;" v-model:value="onemanager[0].managerPassword">
                        <p class="mb-1">確認密碼：</p>
                        <input type="password" class="searchTerm mb-2" style="width:100%;">
                        <p class="mb-1">權限：</p>
                        <select class="mb-2" name="type" style="width:150px;height:30px;" v-model:value="onemanager[0].managerPurview">
                            <option value=3>請選擇權限類別</option>
                            <option value=0>最高管理員</option>
                            <option value=1>審核／修改／查詢</option>
                            <option value=2>查詢</option>
                        </select>
                        <p class="mb-1">建日日期：</p>
                        <input class="mb-2" type="datetime" v-bind:value="onemanager[0].managerBuildTime" disabled="disabled">

                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel mr-3" data-dismiss="modal">取 消</button>
                        <button type="button" class="mysend" onclick="putmanager(this)" v-bind:value="onemanager[0].managerId" data-dismiss="modal">確 認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 插入JS檔 -->

    <script src="../../TanTanLib/js/bsmlist.js"></script>
    <script src="/TanTanLib/js/myajax.js"></script>


</body>

</html>