<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nail IT後台管理</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    


    <link rel="stylesheet" href="../css/backstage.css">


</head>

<body>
    <div id="mydata">
        <div class="container-fluid">
            <!-- 功能列------------------------------------------------------------------------------------------- -->
            <nav class="container-fluid" >
                <div class="row opacity-25" id="navall">
                    <div class="col-1"></div>
                    <div class="col-7 p-0 d-flex align-items-center justify-content-start" id="brand">
                        Nail IT 後臺管理
                    </div>

                    <div class="col-3  pt-3 justify-content-end" id="navend">
                         Hi 王東元{{myname}} / <b style="font-size:14px;" onclick="plzlogout()">登出</b>
                    </div>
                    <div class="col-1"></div>
                </div>
            </nav>
            <!-- 內文------------------------------------------------------------------------------------------- -->
            <div>
                <div class="row">
                    <!-- 左側------------------------------------------------------------------------------------------- -->
                    <div class="col-1"></div>
                    <div class="col-2 mylist">
                        <div id="mylist1">
                            <b>後臺管理</b>
                            <a class="tablinks" href="./backstage-report.html">審核檢舉</a>
                            <a class="tablinks" href="./backstage-notice.html"  style="text-decoration-line: underline;">系統通知</a>
                            <a class="tablinks" href="./backstage-order.html">訂單管理</a>
                            <b class="tablinks" data-toggle="collapse" href="#mylist2" style="font-size: 18px;">人員管理 <img id="triango" src="../images/箭頭.png" style="width:20px;" class="ml-5" /> </b>

                        </div>
                        <div id="mylist2" class="collapse">
                            <a class="tablinks" href="./backstage-mem.html">會員管理</a>
                            <a class="tablinks" href="./backstage-manager.html">系統人員管理</a>
                        </div>
                    </div>

                    <!-- 右側------------------------------------------------------------------------------------------- -->
                    <div class="col-1"></div>
                    <div class="px-0 col-7 mycon">
                        <!-- 2通知------------------------------------------------------------------------------- -->
                        <div id="sysmes" class="tabcontent" >
                            <b id="rigtil">後臺管理 ＞ <u>系統通知</u></b>
                            <!-- 通知條件篩選------------------------------------------------------------------------------------------- -->
                            <div class="mt-5 ml-2">
                                <div class="d-flex align-items-start justify-content-start">
                                    <div>
                                        <b class="my-0 mr-4" id="serfil">查詢條件</b>
                                    </div>
                                    <div class="d-flex align-items-start flex-column">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <p class="my-0">通知時間：</p>
                                            <input id="noticedatestart" type="date">
                                            <b class="mx-4">-</b>
                                            <input id="noticedateend" type="date">
                                        </div>
                                        <div class="my-4 d-flex align-items-center  justify-content-start">
                                            <div class="d-flex align-items-center  justify-content-start">
                                                <div>
                                                    <p class="my-0">通知對象：</p>
                                                </div>
                                                <!--0只對會員，1只對美甲師，2對所有用戶。-->
                                                <div>
                                                    <select id="noticemem" name="type" style="width: 130px;height:30px;">
                                                        <option value="3" selected>請選擇對象</option>
                                                        <option value="0">一般會員</option>
                                                        <option value="1">店家／設計師</option>
                                                        <option value="2">全體</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mx-5 d-flex align-items-center">
                                                <div>
                                                    <p class="my-0">通知狀態：</p>
                                                </div>
                                                <div>
                                                    <select id="noticestatus" name="type" style="width: 130px;height:30px;">
                                                        <option value="NOPE" selected>請選擇狀態</option>
                                                        <option value="0">未通知</option>
                                                        <option value="1">已通知</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-1 d-flex justify-content-end align-items-center">
                                    <button class="serbut" onclick="selnotice()">查詢</button>
                                </div>
                            </div>

                            <!-- 通知項目標籤+上下頁------------------------------------------------------------------------------------------- -->
                            <div id="tabtitle" class="py-2 my-3 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center  justify-content-start ">
                                    <b class="my-0 ml-2 mr-3">通知項目</b>
                                    <button data-toggle="modal" data-target="#addmesModal" class="myadd" onclick="addnoticedate()">新 增 通 知</button>
                                </div>



                                <div id="infopage" class="d-flex align-items-center justify-content-end">
                                    <p class="my-0 mr-2">共計</p>
                                    <p class="my-0 mr-2">{{noticenum}}個項</p>
                                    <p class="my-0 mr-1">頁數</p>

                                    <p class=" my-0 mr-2 ml-1">1</p>
                                    <p class="my-0 mr-3">/ {{noticepage}} </p>
                                    <a id="uporder" class="mr-2 mb-1" onclick="uporder()" style="text-decoration-line: none;color:gray" disabled="disabled">上一頁</a>
                                    <a id="nextorder" class="mr-1 mb-1" onclick="nextorder()" style="text-decoration-line: none;color:gray" disabled="disabled">下一頁</a>

                                </div>
                            </div>
                            <!-- 通知項目欄位表------------------------------------------------------------------------------------------- -->
                            <div class="my-2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">通知對象</th>
                                            <th scope="col">通知標題</th>
                                            <th scope="col">通知日期</th>
                                            <th scope="col">通知狀態</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="(item,key) in notice">
                                        <tr>
                                            <th scope="row"> {{notice[key].noticeId}}</th>
                                            <td>{{notice[key].noticeScope}}</td>
                                            <td style="max-width:200px;" class="text-truncate">{{notice[key].noticeTitle}}</td>
                                            <td>{{notice[key].noticePushTime}}</td>
                                            <td>{{notice[key].noticeState}}</td>
                                            <td><button onclick="reviewnotice(this)" data-toggle="modal" data-target="#revmesModal" v-bind:value="notice[key].noticeId">查 看</button><button onclick="delnotice(this)" v-bind:value="notice[key].noticeId" style="background-color: #7F7F7F" class="ml-2" data-toggle="modal">刪除</button></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal --------------------------------------------------------------------------------------------------------------------------------------->
        <!-- 通知新增Modal ------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="addmesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>通知編號：{{nownotice}}</b>
                        <hr>
                        <p class="mb-1">通知標題：</p>
                        <input type="text" class="searchTerm mb-2" style="width:100%;" v-model="noticetitle" placeholder="請輸入通知標題">
                        <small class="text-muted">
                            限50字
                        </small>
                        <p class="mb-1">通知內容（限100字）：</p>
                        <textarea class="form-inline searchTerm mb-2" style="width:100%;height:70px;" v-model="noticetext" placeholder="請輸入通知內容"></textarea>
                        <p class="mb-1">通知對象：</p>
                        <select class="mb-2" name="type" style="width: 130px;height:30px;" v-model="noticescope">
                            <option selected>請選擇對象</option>
                            <option value="0">一般會員</option>
                            <option value="1">店家／設計師</option>
                            <option value="2">全體用戶</option>

                        </select>
                        <p class="mb-1">通知時間：</p>
                        <input id="datestart" class="mb-2" type="datetime-local" v-model="noticetime">
                        <p class="mb-1">通知管理人員：</p>
                        <input class="mb-2" type="text" value="5 wangeast" disabled="disabled">
                        <p class="mb-1">通知建日日期：</p>
                        <input id="adddate" class="mb-2" type="datetime" disabled="disabled">

                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel mr-3" data-dismiss="modal">取消</button>
                        <button type="button" class="mysend" onclick="savenotice()">確認</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 通知查閱Modal------------------------------------------------------------------------------------------------>
        <div class="modal fade" id="revmesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close pt-3 px-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- [{"noticeId":5,"noticeScope":2,"noticeTitle":"聖誕節快樂！","noticeContent":"祝全體會員聖誕節快樂！",
                        "noticeBuildTime":"2023-01-25 17:40","noticePushTime":"2023-01-25T17:40:21.687","noticeState":true,
                        "noticeManagerId":1,"noticeManagerName":"ADMIN"}] -->
                    <div class="modal-body py-2">
                        <b>通知編號：{{onenotice[0].noticeId}}</b>
                        <hr>
                        <p>通知標題：{{onenotice[0].noticeTitle}}</p>
                        <p>通知內容：{{onenotice[0].noticeContent}}</p>
                        <p>通知對象：{{onenotice[0].noticeScope}}</p>
                        <p>通知日期：{{onenotice[0].noticeBuildTime}}</p>
                        <p>通知管理人員：{{onenotice[0].noticeManagerId}} {{onenotice[0].noticeManagerName}}</p>
                        <p class="mb-0">通知建日日期：{{onenotice[0].noticePushTime}}</p>
                    </div>
                    <div class="p-3 d-flex justify-content-end">
                        <button type="button" class="mycancel" data-dismiss="modal">關閉</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 插入JS檔 -->

    <!--<script src="../../TanTanLib/js/bsmlist.js"></script>-->
    <script src="/TanTanLib/js/myajax.js"></script>


</body>

</html>